@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="forest"] {
	--fc-today-bg-color: rgba(50, 255, 50, 0.1);
	--fc-highlight-color: rgba(0, 200, 0, 0.4);
	--fc-now-indicator-color: rgba(0, 100, 0, 1);
	--fc-border-color: rgba(20, 80, 20, 0.8);
}

:root[data-theme="winter"] {
	--fc-today-bg-color: rgba(0, 150, 255, 0.2);
	--fc-highlight-color: rgba(0, 125, 220, 0.4);
	--fc-now-indicator-color: rgba(0, 0, 200, 1);
}
